/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>      
Content Area-1 L-11-2
        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.content-area-l-11-2 .content h5 {
  font-family: "Gothic A1";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

.content-area-l-11-2 .content p {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.4px;
  color: #333333;
}

.content-area-l-11-2 .content .content-l-11-3-card {
  border: 1px solid #e5e5e5 !important;
  border-radius: 5px;
  padding: 20px 35px 20px 35px;
  margin-bottom: 15px;
  align-items: end;
}

.content-area-l-11-2 .content .content-l-11-3-card svg {
  margin-right: 25px;
}

.content-area-l-11-2 .content .content-l-11-3-card img {
  margin-right: 25px;
}
